<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>메인</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<main>
    <form name="reservationForm" id = "form" th:action="@{/api/main/}" method="POST">

        <a th:href="@{/}"><img class="logo" th:src="@{/}" alt="로고"></a>

        <h1>배차 조회</h1>

        <div>
            <p>출발지</p>
            <input type="text" id="depTerminal" name="depTerminal" >
        </div>
        <div class="user-nickname">
            <p>도착지</p>
            <input type="text" id="arrTerminal" name="arrTerminal" >
        </div>
        <div class="user-password">
            <p>출발 시간</p>
            <input type="text"  id="depTime" name="depTime" >
        </div>
        <div class="user-passwordCheck">
            <p>등급</p>
            <input type="text"  id="busGrade" name="busGrade">
        </div>
        <div>
            <button class="" type="submit">조회</button>
        </div>
    </form>
</main>
</body>
</html>