<!doctype html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>좌석 선택</title>
    <link rel="stylesheet" href="/static/css/layout/header.css" th:href="@{/css/layout/header.css}"/>
    <link rel="stylesheet" href="/static/css/reservation/seat.css" th:href="@{/css/reservation/seat.css}"/>
</head>
<body>
<div th:replace="~{layout/header.html::main-header}"></div>

<h3 class="title">좌석 선택</h3>
<div id="main-area">
    <section class="seat-area">
        <div id="bus-area">
            <span th:each="seat : ${seats}" th:classappend="${seat.getSeatNumber()} >= 41 ? 'last-seatBox' : ''"
                  class="seatBox">
                <input type="checkbox" th:id="${seat.getId()}" th:value="${seat.getSeatNumber()}" class="seat-select" th:disabled="${seat.getStatus().name() ne 'EMPTY'}">
                <label class="seat" th:for="${seat.getId()}" th:text ="${seat.getSeatNumber()}"
                    th:classappend="${seat.getStatus().name() == 'EMPTY' ? 'available' : 'unavailable'}"></label>
            </span>
        </div>
    </section>

    <section class="bus-info">
        <div class="schedule-container">
            <div class="info-item">
                <h4>출발지</h4>
                <h3 th:text="${bus.getDepTerminal()}">여주프리미엄아울렛</h3>
            </div>
            <div class="info-item">
                <h4>도착지</h4>
                <h3 th:text="${bus.getArrTerminal()}">여주부산대구터미널</h3>
            </div>
            <div class="info-item">
                <h4>날짜</h4>
                <h3 th:text="${bus.getDepDate()}">2024-04-24</h3>
            </div>
            <div class="info-item">
                <h4>시간</h4>
                <h3 th:text="${bus.getDepTime()}">13:50</h3>
            </div>
        </div>

        <div class="select-info">
            <h4>인원</h4>
            <h3>0</h3>

            <h4>등급</h4>
            <div th:text="${bus.getBusGrade()}" class="item-detail">일반</div>
        </div>

        <button id="payment-btn" th:value="${bus.getBusId()}">결제</button>
    </section>
</div>
</body>
<script src="/static/js/header.js" th:src="@{/js/header.js}"></script>
<script src="/static/js/reservation/seatSelect.js" th:src="@{/js/reservation/seatSelect.js}"></script>
</html>