<!doctype html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>8도관광</title>
  <link rel="stylesheet" href="/static/css/layout/header.css" th:href="@{/css/layout/header.css}"/>
  <link rel="stylesheet" href="/static/css/reservation/timeTable.css" th:href="@{/css/reservation/timeTable.css}"/>
</head>
<body>
<div th:replace="~{layout/header.html::main-header}"></div>

<h3>배차 조회</h3>
<section class="user-selected-place-info">
  <!--  사용자가 선택한 출발지,도착지,날짜,등급 정보를 간단히 보여주는 div-->
  <div class="user-selected-place-info-detail">
    <div class="info-item">
      <h4>출발지</h4>
      <h3 th:text="${schedules.get(0).depTerminal}">여주프리미엄아울렛</h3>
    </div>
    <div class="info-item">
      <h4>도착지</h4>
      <h3 th:text="${schedules.get(0).arrTerminal}">여주부산대구터미널</h3>
    </div>
    <div class="info-item">
      <h4>날짜</h4>
      <h3 th:text="${schedules.get(0).depDate}">2024-04-24</h3>
    </div>
    <div class="info-item">
      <h4>등급</h4>
      <h3 th:text="${schedules.get(0).busGrade}">일반</h3>
    </div>
  </div>
  <!--  사용자가 선택한 정보에 따라 버스 스케줄 표를 보여주는 div-->
  <div class="schedule-container">
    <div class="schedule-header">
      <div class="header-item">출발</div>
      <div class="header-item">도착</div>
      <div class="header-item">등급</div>
      <div class="header-item">요금</div>
      <div class="header-item">잔여 좌석</div>
      <div class="header-item">찜</div>
      <div class="header-item">선택</div>
    </div>
    <div class="schedule-list">
      <div th:each="item : ${schedules}" class="schedule-item">
        <div class="item-detail" th:text="${item.depTime}">15:10</div>
        <div class="item-detail" th:text="${item.arrTime}">17:10</div>
        <div class="item-detail" th:text="${item.busGrade}">일반</div>
        <div class="item-detail" th:text="${item.charge}">54000 원</div>
        <div class="item-detail" th:text="${item.remainingSeats} + ' / ' + ${item.totalSeatNumber}">15
          / 28
        </div>
        <div class="item-detail">
          <button class="like-button"  onclick="clickLikeButton(this)" th:value = "${item.busId}">
          <img th:src="@{/img/red-heart.png}" src="/static/img/red-heart.png" th:if="${item.isLike}">
          <img th:src="@{/img/empty-heart.png}" src="/static/img/empty-heart.png" th:unless="${item.isLike}">
          </button>
        </div>
        <div class="item-detail">
          <button class="seat-select-button" th:if="${item.canReservation}"  onclick="clickToGoSeatSelectPage()">좌석 선택</button>
          <button disabled="disabled" class="seat-select-button-non" th:unless="${item.canReservation}"  onclick="clickToGoSeatSelectPage()">예약 불가</button>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
<script src="/static/js/header.js" th:src="@{/js/header.js}"></script>
<script src="/static/js/reservation/timeTable.js" th:src="@{/js/reservation/timeTable.js}"></script>
</html>