<header th:fragment="main-header" class="main-header">
  <a th:href="@{/}">
    <img th:src="@{/img/paldo-logo.png}" alt="Log" class="logo-img">
  </a>

<!--  로그인 상태에 따라 header에 보여지는 정보가 다르다-->
  <!--    로그인 상태일때 유저 닉네임과, 로그아웃 버튼을 표시, 유저 닉네임을 누르면 마이페이지로 이동-->
  <div class="login-controls" th:if="${currentLoginUser}">
  <!--    TODO 마이페이지 링크 주의 -->
    <a class="username" th:href="'/myPage'" th:text="${currentLoginUser.nickName} + ' 님'">유저닉네임</a>
    <button class="header-logout-button" onclick="clickLogoutButton()">로그아웃</button>
    <button class="header-board-button" onclick="clickToGoBoardButton()">공지/문의 게시판</button>
  </div>

  <div class="login-controls" th:unless="${currentLoginUser}">
<!--    로그인하지 않은 상태일 때, 로그인 및 회원가입 버튼 표시-->
    <button class="header-login-button" onclick="clickToGoLoginFormButton()">로그인</button>
    <button class="header-signup-button" onclick="clickToGoSignUpFormButton()">회원가입</button>
    <button class="header-board-button" onclick="clickToGoBoardButton()">공지/문의 게시판</button>
  </div>


</header>
