body {
    display: flex;
    flex-direction: column; /* 방향을 수직으로 설정 */
}

.main-container {
    display: flex;
    flex-direction: row; /* 사이드바와 콘텐츠 영역을 수평으로 배치 */
    height: calc(100vh - 60px); /* 헤더 높이를 제외한 전체 높이 */
}

.sidebar {
    width: 250px;
    background-color: #F6F1F1;
    padding: 20px;
    height: 100%; /* 부모 컨테이너의 높이에 맞춤 */
}

.sidebar h1 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #ddd;
}


/* myPage-main(내 예매내역) */


.content {
    flex-grow: 1;
    padding: 20px;
}

.reservation-container {
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 5px;
}

.reservation-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.reservation-card:last-child {
    border-bottom: none;
}

.reservation-number {
    font-weight: bold;
    margin-right: 20px; /* 예약 정보와의 간격 */
    color: #333;
    font-size: 16px;
}

.route-info {
    font-size: 16px;
}

.city .date-date, .date-time, .bus-grade, .reservation-status {
    /*font-size: 20px; !* 글씨 크기 증가 *!*/
    /*font-weight: bold;*/
    margin-top: 5px;
}

.actions {
    /*margin-left: auto; !* 액션 버튼을 오른쪽으로 정렬 *!*/
}

.btn {
    padding: 8px 16px;
    margin-right: 10px; /* 버튼 간 간격 조정 */
}

.btn-change, .btn-do-reservation {
    background-color: #19A7CE;
}

.btn-cancel {
    background-color: #F87474;
}

.btn:hover {
    opacity: 0.9;
}

.no-reservation {
    text-align: center;
    padding: 20px;
    color: #666;
    font-size: 16px;
}


/* myPage-likes(내 찜) */

.likes-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.likes-container {
    width: 50%; /* 컨테이너의 전체 너비를 줄임 */
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 그림자 추가 */
    padding: 20px;
    background-color: #fff; /* 배경색 변경 */
    border-radius: 10px; /* 둥근 모서리 */
}

.likes-card {
    background-color: #e4fcef;
    border: 1px solid #d4e2d4;
    padding: 20px; /* 패딩 증가 */
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.route-info {
    display: flex;
    align-items: center;
    gap: 30px; /* 간격 증가 */
}

.city {
    /*font-size: 20px; !* 글씨 크기 증가 *!*/
    /*font-weight: bold;*/
}

.date-time {
    /*color: #555;*/
    /*font-size: 18px; !* 글씨 크기 증가 *!*/
}
.actions {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase; /* 버튼 텍스트를 대문자로 */

    color: #ffffff;
}

.no-likes {
    font-size: 16px;
    color: #666;
    padding: 20px;
    text-align: center;
}