body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 51px;
  justify-content: space-between;
  background-color: #46B78E;
}

.logo-img {
  width: 150px;
  height: auto;
}

.login-controls button{
  margin-right: 10px;
  padding: 8px 16px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: #717171;
  font-size: 16px;
  cursor: pointer; /
  transition: background-color 0.3s;
}

.login-controls button:hover {
  filter: brightness(90%);
}

.login-controls button:last-child {
  margin-right: 0; /* 마지막 버튼은 오른쪽 간격 제거 */
}