<th:block th:replace = "~{article/articleLayout :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <head>
      <title>문의 게시판</title>
      <script src="http://code.jquery.com/jquery-latest.js"></script>
      <link th:href="@{/css/article/articleList.css}" rel="stylesheet">
    </head>

    <div id="content-wrap" class="flex">
      <h2>문의 게시판</h2>

      <div class="category-list">
        <a th:classappend="${category eq null} ? 'select-category' : ''" href="/article">전체</a>
        <span th:each="categoryItem : ${categoryList}">
          <a th:classappend="${category ne null and (category.getCategoryName() eq categoryItem.getCategoryName())} ? 'select-category' : ''"
             th:text="${categoryItem.getCategoryName()}"
             th:if="${searchType==null}" th:href="@{article(category=${categoryItem})}"></a>
          <a th:classappend="${category ne null and (category.getCategoryName() eq categoryItem.getCategoryName())} ? 'select-category' : ''"
             th:text="${categoryItem.getCategoryName()}"
             th:if="${searchType!=null}" th:href="@{article(category=${categoryItem}, searchType=${searchType}, keyword=${keyword})}"></a>
        </span>
      </div>

      <div id="article-table">
        <div class="row head flex">
          <div class="row-wrap flex">
            <span class="col col-id text-center">번호</span>
            <span class="col col-id text-center">문의유형</span>
            <span class="col col-title text-center">제목</span>
            <span class="col col-writer text-center">상태</span>
            <span class="col col-writer text-center">작성자</span>
            <span class="col col-time text-center">작성일</span>
          </div>
        </div>

        <a class="row flex notice" th:each="notice : ${noticeList}" th:attr="href=${notice.isSecret} ? '#' : '/article/' + ${notice.id}">
          <div class="row-wrap flex">
            <span class="col col-id text-center">
              [[${notice.id}]]
            </span>
            <span class="col col-id text-center" th:text="${notice.category.getCategoryName()}"></span>
            <span class="col col-title" th:if="${!notice.isSecret()}" th:text="${notice.title}+' ['+${notice.commentCount}+']'">
            </span>
            <span class="col col-title isSecret" th:if="${notice.isSecret()}">
              <i class="fad fa-lock" style="--fa-primary-color: #939393; --fa-secondary-color: #939393;"></i>
              비밀글입니다.
            </span>
            <span class="col col-writer text-center"></span>
            <span class="col col-writer text-center">[[${notice.author}]]</span>
            <span class="col col-time text-center" th:text="${notice.convertLocaldatetimeToTime()}"></span>
          </div>
        </a>

        <a class="row flex article" th:each="dto : ${list.getDtoList()}" th:attr="href=${dto.isSecret} ? '#' : '/article/' + ${dto.id}">
          <div class="row-wrap flex">
            <span class="col col-id text-center">
              [[${dto.id}]]
            </span>
            <span class="col col-id text-center" th:text="${dto.category.getCategoryName()}"></span>
            <span class="col col-title" th:if="${!dto.isSecret()}" th:text="${dto.title}+' ['+${dto.commentCount}+']'">
            </span>
            <span class="col col-title isSecret" th:if="${dto.isSecret()}">
              <i class="fad fa-lock" style="--fa-primary-color: #939393; --fa-secondary-color: #939393;"></i>
              비밀글입니다.
            </span>
            <span class="col col-writer text-center" th:text="${dto.state eq true} ? '답변완료' : '답변대기'"></span>
            <span class="col col-writer text-center">[[${dto.author}]]</span>
            <span class="col col-time text-center" th:text="${dto.convertLocaldatetimeToTime()}"></span>
          </div>
        </a>
      </div>

      <div id="article-search-write" class="flex">
        <form method="get" action="article">
          <input type="hidden" name="category" th:value="${category}">
          <select name="searchType">
            <option value="t" th:selected="${searchType} == 't'">제목</option>
            <option value="c" th:selected="${searchType} == 'c'">내용</option>
            <option value="w" th:selected="${searchType} == 'w'">작성자</option>
            <option value="tc" th:selected="${searchType} == 'tc'">제목+내용</option>
          </select>
          <input name="keyword" type="text" th:value="${keyword}">
          <button class="btn-search" type="submit">검색</button>
        </form>

        <a id="btn-write" th:href="@{/article/write}">글쓰기</a>
      </div>

      <div class="pagination">
        <ul id="page">
          <li class="page-prev-arrow" th:if="${list.prev}">
            <a th:if="${searchType != null}" th:href="@{article(page=${list.start - 2}, searchType=${searchType}, keyword=${keyword})}"><i class="far fa-caret-left fa-lg"></i></a>
            <a th:if="${searchType == null}" th:href="@{article(page=${list.start - 2})}"><i class="fas fa-caret-left fa-lg"></i></a>
          </li>

          <li th:each="pageNum:${list.pageList}" th:class="${list.page == pageNum?'is-active':'not-active'}">
            <a th:if="${searchType != null} and ${category == null}" th:href="@{article(page=${pageNum} - 1, searchType=${searchType}, keyword=${keyword})}">
              [[${pageNum}]]
            </a>
            <a th:if="${searchType == null} and ${category != null}" th:href="@{article(page=${pageNum} - 1, category=${category})}" >
              [[${pageNum}]]
            </a>
            <a th:if="${searchType != null} and ${category != null}" th:href="@{article(page=${pageNum} - 1, category=${category}, searchType=${searchType}, keyword=${keyword})}" >
              [[${pageNum}]]
            </a>
            <a th:if="${searchType == null} and ${category == null}" th:href="@{article(page=${pageNum} - 1)}" >
              [[${pageNum}]]
            </a>
          </li>

          <li class="page-next-arrow" th:if="${list.next}">
            <a th:if="${searchType != null}" th:href="@{article(page=${list.end}, searchType=${searchType}, keyword=${keyword})}"><i class="far fa-caret-right fa-lg"></i></a>
            <a th:if="${searchType == null}" th:href="@{article(page=${list.end})}"><i class="fas fa-caret-right fa-lg"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </th:block>
</th:block>