<th:block th:replace = "~{/article/articleLayout :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <head>
      <title>글읽기</title>
      <script src="http://code.jquery.com/jquery-latest.js"></script>
      <script src="/static/css/article/articleRead.css"></script>
    </head>
    <div id="content-wrap" class="flex">
      <h5>문의 게시판</h5>
      <div id="article-header">
        <div id="article-header-top">
          <p th:if="${article.category != null}" id="category-article" th:text="'[' + ${article.category} + ']'"></p><p id="title-article" th:text="${article.title}"></p>
        </div>
        <div id="article-header-bottom">
          <p><span id="writer-article" th:text="${article.writer}"></span><span id="article-created-at" th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
        </div>
      </div>
      <div id="article-body">
        <div id="article">
          <div id="writer-btn-box" th:if="${article.writer} == ${#authorization.authentication.name}">
            <button id="btn-modify-article">수정</button>
            <button id="btn-delete-article">삭제</button>
          </div>
          <textarea id="content-article" th:text="${article.content}" readonly></textarea>
        </div>
    
        <!--  댓글 영역 시작 -->
        <div id="comment-area">
          <div id="comment-area-header">
            <h3>댓글</h3>
            <button id="btn-refresh">↻ 새로고침</button>
          </div>
          <!--  댓글 입력-->
          <div class="comment-input-area">
            <form id="form-comment">
              <input type="hidden" id="input-board-id" th:value="${article.id}">
              <input type="hidden" id="input-comment-page" th:value="${commentList.page}">
              <textarea id="input-comment" class="comment-input-common" type="text" placeholder="댓글을 입력하세요."></textarea>
              <button id="btn-comment-submit" class="comment-btn-common" type="submit">작성</button>
            </form>
          </div>
    
          <!--  모든 댓글-->
          <div id="all-comment">
    
            <!--  댓글 목록-->
            <ul id="comment-list">
              <li class="list-item" th:each="comment : ${commentList.dtoList}" th:attr="data-depth=${comment.co_depth}, data-order=${comment.co_order}" th:style="'margin-left: '+ ${comment.co_depth}*6+'%;'">
                <input class="comment-id" type="hidden" name="comment-id" th:value="${comment.id}">
                <div class="comment-header">
                  <div class="comment-header-left">
                    <p class="comment-writer" th:text="${comment.userName}"></p>
                    <p class="comment-create" th:text="${#temporals.format(comment.created_at, 'yyyy-MM-dd HH:mm:ss')}"></p>
                  </div>
                  <div class="comment-btn-area">
                    <div th:if="${user_id} == ${comment.user_id}">
                      <button class="btn-modify">수정</button>
                      <button class="btn-delete">삭제</button>
                    </div>
                    <button class="btn-reply-toggle">답글</button>
                  </div>
                </div>
                <textarea class="comment-content" th:text="${comment.content}"></textarea>
              </li>
            </ul>
    
            <!--  댓글 페이지 목록-->
            <ul id="comment-page-list">
              <li th:if="${commentList.prev}">
                <button class="page-list-item" id="comment-page-prev" tabindex="-1"><</button>
              </li>
    
              <li th:each="page : ${commentList.pageList}">
                <button class="comment-page-number page-list-item" th:attr="data-page=${page}" th:text="${page}"></button>
              </li>
    
              <li th:if="${commentList.next}">
                <button class="page-list-item" id="comment-page-next" >></button>
              </li>
            </ul>
    
            <a th:href="@{/article}"><button id="btn-article-list">목록</button></a>
          </div>
    
          <!--  대댓글 입력 폼-->
          <div id="form-reply" class="comment-input-area" style="display: none">
            <form>
              <textarea id="input-reply" class="comment-input-common" type="text" name="reply-content" placeholder="답글을 입력하세요."></textarea>
              <button id="btn-reply-submit" class="comment-btn-common" type="button">등록</button>
            </form>
          </div>
    
          <!--  수정 입력 폼-->
          <div id="form-modify" class="comment-input-area" style="display: none">
            <form>
              <textarea id="input-modify" class="comment-input-common" type="text" name="modify-content"></textarea>
              <button id="btn-modify-submit" class="comment-btn-common" type="button">등록</button>
            </form>
          </div>
    
          <script th:inline="javascript" src="/static/js/article/articleRead.js">
          </script>
        </div>
      </div>
    </div>
  </th:block>
</th:block>