<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>AI 추천</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/layout/header.css" th:href="@{/css/layout/header.css}"/>
    <link rel="stylesheet" href="/static/css/ai/aiRecommend.css" th:href="@{/css/ai/aiRecommend.css}"/>
    <link rel="stylesheet" href="/static/css/loading.css" th:href="@{/css/loading.css}"/>
</head>

<body>
<div th:replace="~{layout/header.html::main-header}"></div>

<main>
    <div id="main-area">
        <form name="aiRecommendForm" id = "form" th:action="@{/api/ai/aiRecommend}" method="POST">

            <h1><u>여행지</u>를 아직 정하지 못했다면 <br>
                ai에게 마음에 드는<u>여행지</u>를 추천 받아보세요 ! </h1>

            <div id="form-list">
                <div class="form-ai">
                    <p>여행 날짜</p>
                    <input type="date" id="travelDate" name="travelDate" class="input">
                </div>
                <div class="form-ai">
                    <p>여행 출발</p>
                    <select type="text" id="travelStart" name="travelStart" class="input">
                        <option value="서울">서울</option>
                        <option value="인천/경기">인천/경기</option>
                        <option value="강원">강원</option>
                        <option value="대전/충남">대전/충남</option>
                        <option value="충북">충북</option>
                        <option value="광주/전남">광주/전남</option>
                        <option value="전북">전북</option>
                        <option value="부산/경남">부산/경남</option>
                        <option value="대구/경북">대구/경북</option>
                    </select>
                </div>
                <div class="form-ai">
                    <p>여행 유형</p>
                    <select type="text" id="travelType" name="travelType" class="input">
                        <option value="데이트">데이트</option>
                        <option value="우정여행">우정여행</option>
                        <option value="가족여행">가족여행</option>
                        <option value="등산">등산</option>
                        <option value="낚시">낚시</option>
                        <option value="바다">바다</option>
                    </select>
                </div>
                <div class="form-ai">
                    <p>여행 인원</p>
                    <input type="number"  id="travelNumber" name="travelNumber" min="1" max="10" value="1" class="input">
                </div>
                <div class="form-ai">
                    <p>여행 경비 <br> (1인 기준)</p>
                    <select type="text" id="travelExpenses" name="travelExpenses" class="input">
                        <option value="5만원 미만">5만원 미만</option>
                        <option value="5만원 ~ 10만원">5만원 ~ 10만원</option>
                        <option value="10만원 ~ 15만원">10만원 ~ 15만원</option>
                        <option value="15만원 ~ 20만원">15만원 ~ 20만원</option>
                        <option value="20만원 이상">20만원 이상</option>
                    </select>
                </div>
                <div class="button-zone">
                    <button class="recommend-button" type="submit">AI 여행지 추천 받기</button>
                </div>
            </div>
        </form>
    </div>
</main>

<div id="loading">
    <img th:src="@{/img/loading.gif}" src="/img/loading.gif" alt="Loading">
    <p>AI 답변을 생성하고 있습니다. 답변 생성까지 약 20초 정도 소요됩니다.</p>
    <button onclick="history.back()">뒤로 가기</button>
</div>
</body>
<script src="/static/js/header.js" th:src="@{/js/header.js}"></script>
<script src="/static/js/ai/aiRecommend.js" th:src="@{/js/ai/aiRecommend.js}"></script>

</html>