
main{
    display: flex;
    justify-content: center;
}

div#main-area{
    margin-top: 100px;
    background-color: #ffffff;
    border: 3px solid #19A7CE;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;

}

div#ai-answer{
    height: 315px;
}

div#form-list{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.button-zone{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.button-zone .recommend-button{
    background-color: #19A7CE;
    color: #F6F1F1;
    border: none;
    padding: 15px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 13px;
}

h1{
    font-size: 23px;
}
