<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link th:href="@{/css/user/login.css}" rel="stylesheet">
</head>
<body>
<main class="form-signin" id="loginForm">
    <form action="/login" method="post">
        <h1 class="h3 mb-3 fw-normal">8도관광 - 로그인</h1>
        <div class="form-floating">
            <label><strong>Email</strong></label>
            <input type="email" class="form-control" name="username" placeholder="Enter Your email" >

        </div>
        <div class="form-floating">
            <label><strong>Password</strong></label>
            <input type="password" class="form-control" name="password" placeholder="Enter Your Password" >

        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button><br>
        <a th:href="@{/signup}">회원가입</a> /
        <a th:href="@{/forgot-pw}">PW 찾기</a>
    </form>
</main>
<script>
    window.onload = function() {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('error')) {
            const error = sessionStorage.getItem('error') || '이메일 또는 비밀번호를 다시 확인해 주세요.';
            alert(error);
            sessionStorage.removeItem('error');  // 세션에서 오류 메시지 삭제
        }
    };

    window.onload = function() {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('denied')) {
            alert('로그인이 필요한 페이지입니다. 로그인 해주세요.');
        }
    };
</script>
</body>
</html>