<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
</head>

<body>
<form action="/api/signup" method="post">
  <div class = "mb-2">
      <div class="mb-3 text-left">
        <label class="form-label text-black"><strong>email</strong></label>
        <input type="email" class="form-control" name="email" id="email" th:value="${user.email}" placeholder="Enter your email" required>
      </div>
      <div class="mb-3 text-left">
        <label class="form-label text-black"><strong>nickname</strong></label>
        <input type="text" class="form-control" id="nickName" name="nickName" th:value="${user.nickName}" placeholder="Enter your nickname" required>
      </div>
      <div class="mb-3 text-left">
        <label class="form-label text-black"><strong>Password</strong></label>
        <input type="password" class="form-control" id="password" name="password" th:value="${user.password}" placeholder="Enter your password" required>
      </div>
      <div class="mb-3 text-left">
        <label class="form-label text-black"><strong>phone number</strong></label>
        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" th:value="${user.phoneNumber}" placeholder="Enter your phone number" required>
      </div>

      <button type="submit" id="signup-btn" class="btn btn-primary ui-state-focus">Sign up</button><br><br>
  </div>
</form>

<script src="js/user/signup.js"></script>
</body>
</html>