#content-wrap p{
  margin: 0;
  display: inline-block;
}

#content-wrap li {
  list-style: none;
  display: block;
}

.comment-page-number{
  display: inline;
}

#content-wrap button{
  border : none;
  font-weight: bold;
  cursor: pointer;
}

textarea{
  box-sizing: border-box;
  border: none;
  background-color: #ffffff;
  resize: none;
  display: block;
}

textarea:hover{
  outline: none;
}

textarea:focus{
  outline: none;
}

#content-wrap{
  box-sizing: border-box;
  width: 55%;
  margin: 0 auto;
  background-color: #ffffff;
  align-items: center;
}

#article textarea{
  width: 100%;
  min-height: 500px;
}

.mb-3{
  margin-top: 30px;
}

#article-header-top #category-article{
  /*width: 70px;*/
  margin-right: 20px;
}

#writer-article{
  display: inline-block;
  width: 70px;
  margin-right: 20px;
}

#article-body{
  padding: 0 20px;
}

#article-header {
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #46B78E;
  color: #f7f7f7;
  text-align: left;
  vertical-align: middle;
}

#article-header-top{
  margin-bottom: 8px;
}

#article-header-bottom p:first-child{
  float: left;
}

#count-article-view{
  width: 90px;
  margin-left: 20px;
}

#article-body span {
  display: inline-block;
}

#content-article{
  font-size: 18px;
  font-weight: normal;
}

#writer-btn-box{
  float: right;
  justify-content: space-between;
  margin-bottom: 20px;
}

#btn-modify-article{
  background-color: #46B78E;
  color: #f7f7f7;
  width: 50px;
  height: 30px;
}

#btn-delete-article{
  background-color: crimson;
  color: #f7f7f7;
  width: 50px;
  height: 30px;
}

#comment-area{
  margin-top: 80px;
}

#comment-area-header{
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

#comment-area-header h3{
  display: inline-block;
  margin: 0;
}

#btn-refresh{
  float: right;
  background-color: #ffffff;
}

#comment-list{
  padding: 0;
}

.comment-input-area {
  align-items: center;
  position: relative;
}

.comment-input-common{
  box-sizing: border-box;
  width: 100%;
  min-height: 100px;
  padding: 10px 100px 10px 10px;
  vertical-align: top;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 10px;
}

.comment-btn-common{
  background-color: #46B78E;
  box-sizing: border-box;
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 90px;
  height: 90px;
  border-radius: 10px;
  color: #f7f7f7;
  font-weight: bold;
}

.comment-header{
  height: 35px;
}

.comment-header *{
  display: inline-block;
  vertical-align: middle;
}

.comment-header-left{
  float: left;
}

.comment-header-left *{
  margin-right: 15px;
}

.comment-content{
  width: 100%;
}

.comment-btn-area{
  float: right;
}

.comment-btn-area *{
  margin-left: 15px;
}

.btn-delete{
  color: crimson;
}

.content-wrap ul{
  padding: 0;
}

.list-item{
  border-top: 1px solid rgba(0,0,0,0.3);
  padding: 10px 0;
}

#comment-page-list{
  margin: 15px auto;
  width: fit-content;
}

#comment-page-list li{
  display: inline;
  width: 30px;
  height: 30px;
}

#comment-page-list button{
  border: 1px solid rgba(0,0,0, 0.3);
  margin: 0;
}

#btn-article-list{
  width: 50px;
  height: 30px;
  background-color: #46B78E;
  color: #ffffff;
}