<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제</title>


    <link rel="stylesheet" href="/static/css/payment/payment.css" th:href="@{/css/payment/payment.css}">
    <link rel="stylesheet" href="/static/css/layout/header.css" th:href="@{/css/layout/header.css}"/>


    <script>
        var reservationData =
            {
                reservationId: [[${reservationInfo.id}]],
                reservationNumber: "[[${reservationInfo.reservationNumber}]]",
                userEmail: "[[${reservationInfo.user.email}]]",
                userNickName: "[[${reservationInfo.user.nickName}]]",
                userPhone: "[[${reservationInfo.user.phoneNumber}]]",
                totalCharge: [[${totalCharge}]]
            };

    </script>

</head>
<body>
<div th:replace="~{layout/header.html::main-header}"></div>

<div class="flex-main">
    <main>
        <h2>결제</h2>
        <div class="flex-container">
            <div class="container">
                <div class="payment-container">
                    <form>
                        <div class="payment-box">
                            <div class="title">결제 방법</div>
                            <div class="options">
                                <label><input type="radio" name="payment" value="credit"> 신용 카드</label>
                                <label><input type="radio" name="payment" value="kakao"> 카카오페이</label>
                                <label><input type="radio" name="payment" value="naver"> 네이버 페이</label>
                            </div>
                        </div>
                        <div class="payment-box">
                            <div class="title">발급 방법</div>
                            <div class="options">
                                <label><input type="radio" name="issue" value="email"> 이메일</label>
                                <label><input type="radio" name="issue" value="text"> 문자</label>
                            </div>
                        </div>
                        <div class="payment-box">
                            <div class="title">결제 금액</div>
                            <p name="amount" th:text="${totalCharge}">요금</p>
                        </div>
                        <!--            <button type="submit" >결제</button>-->

                    </form>
                </div>

                <div class="item-container">
                    <div class="item-details">
                        <div class="reservation-info">
                        <table>
                            <tr>
                                <th>출발</th>
                                <td th:text="${reservationInfo.bus.depTerminal}">출발지</td>
                                <th>도착</th>
                                <td th:text="${reservationInfo.bus.arrTerminal}">도착지</td>
                            </tr>
                            <tr>
                                <th>날짜</th>
                                <td th:text="${reservationInfo.bus.depDate}">출발날짜</td>
                                <th>시간</th>
                                <td th:text="${reservationInfo.bus.depTime}">출발시간</td>

                            </tr>
                            <tr>
                                <th>인원수</th>
                                <td th:text="${totalSeat}">인원</td>
<!--                                <th>아동</th>-->
<!--                                <td>0명</td>-->
                            </tr>
                            <tr>
                                <th>등급</th>
                                <td th:text="${reservationInfo.bus.busGrade}">등급</td>
                                <th>좌석</th>
                                <td th:each="seat : ${seats}">
                                    <p th:text="${seat.seatNumber}">좌석번호</p>
                                </td>
                            </tr>
                        </table>
                        </div>

                    </div>
                    <!-- 결제하기 버튼 생성 -->
                    <button type="button" class="submit-button" onclick="requestPay()">결제</button>
                </div>
            </div>
        </div>
    </main>
</div>


</body>
<!-- jQuery -->
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<!-- iamport.payment.js -->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

<script src="/static/js/payment/payment.js" th:src="@{/js/payment/payment.js}"></script>
</html>