<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 완료</title>

    <link rel="stylesheet" href="/static/css/payment/paymentComplete.css" th:href="@{/css/payment/paymentComplete.css}">
    <link rel="stylesheet" href="/static/css/layout/header.css" th:href="@{/css/layout/header.css}"/>
</head>
<body>
<div th:replace="~{layout/header.html::main-header}"></div>

<div class="flex-main">
    <main>
        <h2>결제 완료</h2>

        <div class="item-container">
            <div class="item-details">
                <div class="reservation-info">
                    <table>
                        <tr>
                            <th>출발</th>
                            <td th:text="${reservationInfo.bus.depTerminal}">출발지</td>
                            <th>도착</th>
                            <td th:text="${reservationInfo.bus.arrTerminal}">도착지</td>
                        </tr>
                        <tr>
                            <th>날짜</th>
                            <td th:text="${reservationInfo.bus.depDate}">출발날짜</td>
                            <th>시간</th>
                            <td th:text="${reservationInfo.bus.depTime}">출발시간</td>
                        </tr>
                        <tr>
                            <th>좌석</th>
                            <td>
                                <p th:each="seat : ${seats}" th:text="${seat.seatNumber} + ' '"></p>
                            </td>
                            <th>인원</th>
                            <td th:text="${totalSeat}">인원</td>
                        </tr>
                        <tr>
                            <th>결제 방법</th>
                            <td>카카오페이</td>
                            <th>결제 금액</th>
                            <td th:text="${totalCharge}">요금</td>
                        </tr>
                        <tr>
                            <th>결제 시간</th>
                            <td th:text="${#temporals.format(reservationInfo.paymentHistory.createdDateTime, 'yyyy-MM-dd HH:mm')}">결제시간</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="button-flex">
                <button type="button" class="link-button"><a th:href="@{'/'}">메인</a></button>
                <button type="button" class="link-button"><a th:href="@{'/myPage'}">예매 내역 확인</a></button>
            </div>
        </div>


    </main>
</div>
</body>
<script src="/static/js/header.js" th:src="@{/js/header.js}"></script>
</html>