.title {
    margin-left: 20%;
}

#main-area{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 20%;
    gap: 200px;
}

.seat-area{
    background-color: #f4f4f4;
}

.bus-info .schedule-container,.select-info{
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    margin-bottom: 50px;
    width: 200px;
}




#payment-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

input{
    display: none;
}

label{
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.seat {
    width: 50px; /* 좌석 너비 */
    height: 50px; /* 좌석 높이 */
    background-color: #ccc; /* 좌석 색상 */
    margin: 5px; /* 좌석 간격 */
}

.seat-select {
    display: none; /* 체크박스를 숨깁니다. */
}

.seat-select:checked + .seat {
    background-color: #a2ff88; /* 선택된 좌석의 색상 */
}

#bus-area{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 100%;
}

#bus-area .seatBox:nth-child(4n+3) {
    margin-left: 60px;
}

/* 버튼이 off 상태일 때 */
#payment-btn[disabled] {
    background-color: #818080;
    color: black;
    cursor: default;
}

/* 버튼이 on 상태일 때 */
#payment-btn:not([disabled]) {
    background-color: #46b68d;
    color: black;
}




