.title {
    margin-left: 20%;
}

#main-area{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 20%;
    gap: 200px;
}

.seat-area{
    background-color: #f4f4f4;
}

.bus-info .schedule-container,.select-info{
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    margin-bottom: 50px;
    width: 200px;
>>>>>>> 2d9c747e98bee47cd439035d2bcc43aa6ebd8ff2
}

#payment-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

input{
    display: none;
}

label{
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.seat {
    width: 50px; /* 좌석 너비 */
    height: 50px; /* 좌석 높이 */
    background-color: #ccc; /* 좌석 색상 */
    margin: 5px; /* 좌석 간격 */
    box-sizing: border-box;
    cursor: pointer;
}

.seat-select {
    display: none; /* 체크박스를 숨깁니다. */
}

.seat-select:checked + .seat {
    background-color: #a2ff88; /* 선택된 좌석의 색상 */
    border: 2px solid green;
}

.seat.available {
    background-color: #ccc;
}

.seat.unavailable {
    background-color: #a2ff88; /* 선택된 좌석의 색상 */
    cursor: not-allowed; /* 클릭 불가능하게 설정 */
}

#bus-area{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 100%;
}

/* nth-child 기반의 여백 제거 */
#bus-area .seatBox:not(.last-seatBox):nth-child(4n+3) {
    margin-left: 60px;
}

#bus-area .seatBox.last-seatBox {
    margin-left: 0; /* last-seatBox 클래스를 가진 좌석에는 추가 여백을 적용하지 않음 */
}

/* 버튼이 off 상태일 때 */
#payment-btn[disabled] {
    background-color: #818080;
    color: black;
    cursor: default;
}

/* 버튼이 on 상태일 때 */
#payment-btn:not([disabled]) {
    background-color: #46b68d;
    color: black;
}





