
h3 {
  margin-left: 20%;
}

/*사용자가 선택한 출발지,도착지,날짜,등급 정보를 간단히 보여주는 div*/
.user-selected-place-info-detail {
  margin-left:20%;
  margin-right: 20%;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.user-selected-place-info-detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

/*TODO 글자수에 따라서 출발지,도착지,날짜,등급 위치가 바뀌는데 나중에 바꾸기로*/
.info-item h4, .info-item h3 {
  margin: 0;
  white-space: nowrap; /* 글자가 세로로 늘어나지 않도록 */
  overflow: hidden; /* 오버플로우된 텍스트 숨기기 */
  text-overflow: ellipsis; /* 텍스트 오버플로우 시 말줄임표 사용 */
}

.info-item h4 {
  font-weight: lighter;
  color: #818181;
  margin-bottom: 10px;
  text-align: center;
}

.info-item h3 {
  font-size: 1.1em;
  color: #333;
  text-align: center;
}

/*사용자가 선택한 정보에 따라 버스 스케줄 표를 보여주는 div*/
.schedule-container {
  margin-top:20px;
  margin-left: 20%;
  margin-right: 20%;
  display: block;
  font-family: Arial, sans-serif;
}

.schedule-header, .schedule-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f4f4f4;
}

.schedule-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top: 1px solid #ddd;
}

.schedule-item {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.header-item, .item-detail {
  flex: 1 1 0%;
  text-align: center;
  padding: 5px;
}


/*찜 아이콘 스타일*/
.like-button{
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

/*좌석 예약 버튼*/
.seat-select-button{
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 13px;
}

.seat-select-button-non{
  background-color: #787e86;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-size: 13px;
}

.seat-select-button:hover {
  filter:brightness(90%);
}
