body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

h2.page-title{
    margin-left: 30px;
    border-left: 5px solid #19A7CE;
    padding-left: 10px;
}

.flex-main
{
    display: flex;
    justify-content: center;
}

.item-container {
    background-color: #ffffff;
    padding: 0 20px 20px 20px;
    margin: 10px;
    width: 800px;
    flex: 1;
}

.item-details {
    border: 1px solid #19A7CE;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}


table {
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    font-size: 16px;
}

th {
    color: #818181;
}

td {
    font-weight: bold;
}


.link-button {
    color: #ffffff;
    width: 17%;
    padding: 5px;
    margin-top: 15px;
    margin-left: 20px;
    background-color: #19A7CE;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.button-flex
{
    display: flex;
    justify-content: right;
}

.button-flex a{
    color: inherit;
    text-decoration: none;
}

p{
    display: inline;
}