<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/static/css/layout/header.css" th:href="@{/css/layout/header.css}"/>
    <link rel="stylesheet" href="/static/css/user/myPage.css" th:href="@{/css/user/myPage.css}"/>
</head>
<body>
<div th:replace="~{layout/header.html::main-header}"></div>
<div class="main-container">
    <div class="sidebar">
        <h1>마이페이지</h1>
        <ul>
            <li><a th:href="@{/myPage}">내 예매 정보</a></li>
            <li><a th:href="@{/myPage/likes}">내 찜</a></li>
            <li><a th:href="@{/myPage/edit}">비밀번호 변경 / 회원탈퇴</a></li>
        </ul>
    </div>
    <div class="content">

        <div class="reservation-container" >
            <h1>내 찜 내역</h1>
            <div th:unless="${likes}" class="no-reservation">
                찜 내역이 없습니다.
            </div>
            <div class="reservation-card" th:if="${likes}">
                <div th:each="like : ${likes}" class="reservation-card">
                    <div class="route-info">
                        <span class="city" th:text="${like.bus.depTerminal} + ' → ' + ${like.bus.arrTerminal}">부산 → 서울</span>
                        <span class="date-date" th:text="'출발 날짜 ' + ${#strings.substring(like.bus.depDate, 0, 4) + '-' + #strings.substring(like.bus.depDate, 4, 6) + '-' + #strings.substring(like.bus.depDate, 6, 8)}">2024-04-24</span>
                        <span class="date-time" th:text="'출발 시간 ' + ${#strings.substring(like.bus.depTime, 8, 10) + ':' + #strings.substring(like.bus.depTime, 10, 12)}">14:00</span>
                        <span class="bus-grade" th:text="'버스 등급 ' + ${like.bus.busGrade}">우등</span>
                    </div>
                    <div class="actions">
                        <button class="btn btn-do-reservation" th:data-id="${like.bus.id}" onclick="doReservation(this)">예매하기</button>
                        <button class="btn btn-cancel" th:data-id="${like.bus.id}" onclick="cancelLike(this)">취소</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
<script src="js/header.js" th:src="@{/js/header.js}"></script>
<script src="js/user/myPage/myPage-likes.js" th:src="@{/js/user/myPage/myPage-likes.js}"></script>
</html>