<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/static/css/layout/header.css" th:href="@{/css/layout/header.css}"/>
    <link rel="stylesheet" href="/static/css/user/myPage.css" th:href="@{/css/user/myPage.css}"/>
</head>
<body>
<div th:replace="~{layout/header.html::main-header}"></div>
<div class="main-container">
    <div class="sidebar">
        <h1>마이페이지</h1>
        <ul>
            <li><a th:href="@{/myPage}">내 예매 정보</a></li>
            <li><a th:href="@{/myPage/likes}">내 찜</a></li>
            <li><a th:href="@{/myPage/edit}">비밀번호 변경 / 회원탈퇴</a></li>
        </ul>
    </div>
    <div class="content">

        <div class="reservation-container" >
            <h1>내 예매 정보</h1>
            <div th:unless="${reservations}" class="no-reservation">
                예매 내역이 없습니다.
            </div>
            <div class="reservation-card" th:if="${reservations}">
                <div th:each="reservation : ${reservations}" class="reservation-card">
                    <div class="route-info">
                        <span class="city" th:text="${reservation.bus.depTerminal} + ' → ' + ${reservation.bus.arrTerminal}">부산 → 서울</span>
                        <span class="date-date" th:text="${reservation.bus.depDate}">24.04.24</span>
                        <span class="date-time" th:text="${reservation.bus.depTime}">14:00</span>
                    </div>
                    <div class="actions">
                        <button class="btn btn-change" th:data-id="${reservation.id}"
                                th:data-depTerminal="${reservation.bus.depTerminal}"
                                th:data-arrTerminal="${reservation.bus.arrTerminal}"
                                th:data-depDate="${reservation.bus.depDate}"
                                th:data-busGrade="${reservation.bus.busGrade}"
                                onclick="redirectToTimeTable(this)">시간 변경</button>
                        <button class="btn btn-cancel">취소</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
<script src="js/header.js"></script>
<script src="js/user/myPage/myPage.js"></script>
</html>